.amount {
    -moz-appearance: textfield;
    border: 0;
    background: transparent;
    font-size: 20px;
    line-height: 28px;
}
.amount::-webkit-outer-spin-button,
.amount::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.amount:focus {
  outline: none;
}
.amount::placeholder {
  text-align: right;
  color: #F26538;
}
.customFieldToggle {
  width: 100%;
}
