.fieldset {
  position: relative;
}
.amount {
    text-align: right;
    padding-right: 2em;
}
.currency {
  position: absolute;
  right: 0;
  bottom: 48px;
  color: #F26538;
}
.amount::placeholder {
  text-align: right;
  color: #F26538;
}
.customFieldToggle {
  width: 100%;
}
