.status {
  padding: 16px;
  font-size: 16px;
  box-sizing: content-box;
  display: flex;
  gap: 16px;
  align-items: center;
  border-radius: 12px;
  border: 2px solid transparent;
  margin-bottom: 8px;
}
.status::before {
  content: '';
  display: inline-block;
  width: 64px;
  height: 64px;
  flex-shrink: 0;
}
.status.done {
  border-color: #30D053;
}
.status.done::before {
  background: #30D053;
  mask: var(--checkmark-icon);
}
.status.error {
  color: #F23838;
  border-color: #F23838;
}
.status.error::before {
  background: #F23838;
  mask: var(--cross-icon);
}
