@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader {
  width: 44px;
  height: 44px;
  border: 5px solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.submit {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, #F26538 0%, #FBBE5E 100%);
  border-radius: 12px;
  padding: 20px 24px;
  color: #1A1A1A;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  border: 0;
  width: 100%;
}
